header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header .header-container {
  background-color: rgba(141, 172, 142, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 80%;
  max-width: 95%;
  height: 60px;
  border-radius: 100px;
  margin: 2em 0;
  padding: 0 2em;
}
header .header-container:hover {
  display: flex;
}
header .header-container .nav-bar {
  display: flex;
  justify-content: space-between;
  width: 30%;
  color: beige;
  height: 1em;
}
header .header-container .nav-bar a {
  text-decoration: none;
  color: beige;
}
header .header-container .nav-bar .about,
header .header-container .nav-bar .projects,
header .header-container .nav-bar .skills,
header .header-container .nav-bar .contact {
  display: none;
}
header .header-container .nav-bar .dark-mode {
  display: none;
}
header .header-container img {
  width: 50px;
  height: auto;
  border-radius: 15%;
}

@media (min-width: 768px) {
  header .header-container .nav-bar {
    width: 55%;
  }
  header .header-container .nav-bar .about,
  header .header-container .nav-bar .projects,
  header .header-container .nav-bar .skills,
  header .header-container .nav-bar .contact {
    display: block;
  }
}
.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: beige;
  width: 90%;
  margin: auto;
  background-color: rgb(142, 173, 143);
  border-radius: 10px;
}
.profil h1 {
  margin: 1em 0;
}
.profil .profil-container {
  display: flex;
  flex-direction: column;
}
.profil .profil-container .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}
.profil .profil-container .description .contact-btn {
  background-color: rgb(143, 97, 97);
  padding: 1em;
  margin-top: 2em;
  border-radius: 10px;
  text-decoration: none;
  color: beige;
}
.profil .profil-container .profil-image {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}
.profil .profil-container .profil-image img {
  width: 60%;
  height: auto;
  border: 10px solid rgb(63, 83, 63);
  border-radius: 15%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  color: beige;
}
.contact .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  background-color: rgb(142, 173, 143);
  width: 90%;
  border-radius: 10px;
  height: 50%;
}
.contact .contact-container h1 {
  margin: 1em 0;
}
.contact .contact-container form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 2em;
}
.contact .contact-container form input,
.contact .contact-container form textarea {
  width: 100%;
}
.contact .contact-container form label {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.contact .contact-container form .form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.contact .contact-container form .form-button-container .form-button {
  width: 30%;
  height: 20px;
}
.contact .cv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(142, 173, 143);
  width: 90%;
  margin: 2em auto;
  border-radius: 10px;
  min-height: 150px;
}
.contact .cv btn {
  padding: 10px;
  border: 2px solid rgb(143, 97, 97);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(63, 83, 63);
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
