@use 'variables' as v;
@use 'header';
@use 'homeProfile';
@use 'homeContact';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: v.$dark-bg;
    min-height: 100vh;
}

